@charset "UTF-8";

header{
	width: 100%;
	padding: 5px 0px 5px 0px;
	margin: 0 auto;
  	color: #ffffff;
  	text-align: center;
  	font-family:"impact";
  	font-size:50px;
}

.Chubu{
	display:inline-block;
}

button{
	display       : inline-block;
	border-radius : 0.5em;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 15px;
	background    : #004040;
	color         : #ffffff;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid transparent;
	width         : auto;
	font-family: "HG行書体";
	font-size:30px;
}

button:hover {
	box-shadow    : none;
	color         : #004040;
	background    : #ffffff;
}

body {
   background-image: url("ishikawa.jpg");
   background-size: cover;
}

.contents{
	display:inline-block;
}

input[type="submit"]{
	display       : inline-block;
	border-radius : 0.5em;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 15px;
	background    : #0080ff;
	color         : #ffff80;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid transparent;
	width         : auto;
	font-family: "HG行書体";
	font-size:25px;
}

input[type="submit"]:hover {
	box-shadow    : none;
	color         : #0080ff;
	background    : #ffffff;
}

.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 400px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: "HG行書体";
}

.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#00ff40;
    font-weight: bold;
    background :transparent;
    cursor :pointer;
    transition: all 0.5s;
    font-size:25px;
}

.accbox label:hover {
    background :transparent;
}

.accbox input[type="checkbox"] {
    display: none;
}

.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background:transparent;
    opacity: 1;
}

