@charset "UTF-8";

body{
	background-image:url("cloud.jpg");
	background-size: cover;
	font-family: "HG行書体";
}

header{
	width: 100%;
	padding: 1px 0px 1px 0px;
	margin: 0 auto;
	text-align: center;
  	color: #ffffff;
  	font-family:"impact";
  	font-size:50px;
}

.headline span{
	width: 100%;
	padding: 1px 0px 1px 0px;
	margin: 0 auto;
	text-align: center;
	color:#b3e3f9;
	font-family:"impact";
  	font-size:100px;
}

a {
	 text-decoration: none; 
}

.outer{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	font-size: 30px;
	margin-top: 1%;
}

.day h3{
	color: #ff8000;
}

span{
	font-family:HG行書体;
	color:#b3e3f9;
	font-size:40px;
}

input[type="text"]{
	border-radius : 0.5em;
	width         : 20%;
	height        : 40px;
	border        : solid 1px transparent;
	transition    : .3s;
	font-family: "HG行書体";
	font-size:25px;
}

input[type="text"]:focus{
	border-color  : #0080c0;
	outline       : none;
}

input[type="submit"] {
	display       : inline-block;
	border-radius : 0.5em;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 15px;
	background    : #0080ff;
	color         : #ffffff;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid transparent;
	width         : auto;
	font-family: "HG行書体";
	font-size:25px;
}

input[type="submit"]:hover {
	box-shadow    : none;
	color         : #0080ff;
	background    : #ffffff;
}