@charset "UTF-8";

.accbox p{
	color:#ffff80;
	font-size:15px;
}

a{
	color:#004040;
	font-size:50px;
	font-family:"Palatino Linotype";
}

body{
	background-image:url(https://shikoku-tourism.com/image/rendering/feature_paragraph_image/148/trim.1024/3/2?v=bbf41e123bbb3509366e7d611c7aff5a79e4e989);
	background-size: cover;
	text-align:center;
}

.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 600px;
    text-align:center;
}

.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#000000;
    font-weight: bold;
    background :#80ffff;
    cursor :pointer;
    transition: all 0.5s;
}

.accbox label:hover {
    background :#80ffff;
}

.accbox input {
    display: none;
}

.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}